.container {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.container section {
  width: clamp(80rem, 80%, 90rem);
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  align-items: center;
}

.container img {
  width: 100%;
}

.container h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.container input {
  margin-bottom: 2rem;
  width: 50%;
}

.container h3 {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.container select {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  width: 60%;
  height: 3rem;
}

/* Button styles */
.container button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.container button:hover {
  background-color: #0056b3;
}
